<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet"/>
        <title>
            Circular Economy Ontology Network (CEON)
        </title>
    </head>
    <body>
        <main>
            <div id="overview">
                <h1>Circular Economy Ontology Network (CEON)</h1>
                <p>
                    The Circular Economy Ontology Network (CEON) provides a shared vocabulary for representing information about circular economies in the form of a network of ontology modules.
                </p>
                <p>
                    The figure below shows an overview of the topics covered. The lines between the boxes represent some common-sense relations between the topics, which are represented as formal relations within the actual modules, such as <code>owl:import</code> or specific object properties connecting concepts inside the modules. The light blue box (location) is not part of CEON, but instead reuses a standard geographical ontology such as the OGC GeoSPARQL standards.
                </p>

                <p>
                    The set of core modules that are in this release of CEON forms a set of generic reusable ontology building blocks and include Circular Value Network, Actor, Process, and Resource (Material and Product).
                    </ul>
                </p>
                <div class="img-div">
                    <img src="images/overview.png">
                </div>
            </div>

            <div id="index">
                <h2>Core Modules</h2>
                <table>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.core}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{version}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{version}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{version}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{version}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>


                <h2>Supplementary Modules</h2>
                <table>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.supplementary}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{version}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{version}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{version}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{version}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Reused Ontologies</h2>
                <table>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.reused}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{version}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{version}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{version}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{version}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{version}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Use-Case Ontologies</h2>
                <table>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.demo}}
                        <tr>
                            <td>
                                <a href="demo/{{name}}/{{version}}/index.html">{{name}}</a>
                                (<a href="demo/{{name}}/{{version}}/{{name}}.ttl">ttl</a>,
                                <a href="demo/{{name}}/{{version}}/{{name}}.rdf">rdf</a>,
                                <a href="demo/{{name}}/{{version}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{version}}
                            </td>
                            <td>
                                <a href="demo/{{name}}/{{version}}/index.html">html</a>,
                                <a href="demo/{{name}}/{{version}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </main>
    </body>
</html>