<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet"/>
        <title>
            Circular Economy Ontology Network (CEON)
        </title>
    </head>
    <body>
        <main>
            <div id="overview">
                <h1>Circular Economy Ontology Network (CEON)</h1>
                <p>
                    The Circular Economy Ontology Network (CEON) provides a shared vocabulary for representing information about circular economies in the form of a network of ontology modules.
                </p>
                <p>
                    The figure below shows an overview of the topics covered. The lines between the boxes represent some common-sense relations between the topics, which are represented as formal relations within the actual modules, such as <code>owl:import</code> or specific object properties connecting concepts inside the modules. The light blue box (location) is not part of CEON, but instead reuses a standard geographical ontology such as the OGC GeoSPARQL standards.
                </p>
                <div class="img-div">
                    <img src="images/overview_v0.4.png">
                </div>
            </div>

            <div id="index">
                <h1>Core Modules</h1>
                <p>
                    The set of core modules that are in this release of CEON forms a set of generic reusable ontology building blocks and include  Actor, Process, Resource, and Circular Value Network.
                    </ul>
                </p>
                <h2>Actor</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.actor}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Process</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.process}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Resource</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.resource}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>CVN</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.cvn}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Supplementary</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.supplementary}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h1>Full Imported Version</h1>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.full}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>




                <h1>Use Cases</h1>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.demo}}
                        <tr>
                            <td>
                                <a href="demo/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="demo/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="demo/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="demo/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="demo/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="demo/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h1>Other Modules</h1>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.other}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

            </div>
        </main>
    </body>
</html>