<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet"/>
        <title>
            Circular Economy Ontology Network (CEON)
        </title>
    </head>
    <body>
        <main>
            <div id="overview">
                <h1>Circular Economy Ontology Network (CEON)</h1>
                <p>
                    The Circular Economy Ontology Network (CEON) provides a shared vocabulary for representing information about circular economies in the form of a network of ontology modules.
                </p>
                <p>
                    The figure below shows an overview of the topics covered. The lines between the boxes represent some common-sense relations between the topics, which are represented as formal relations within the actual modules, such as <code>owl:import</code> or specific object properties connecting concepts inside the modules.
                </p>
                <div class="img-div">
                    <img src="images/overview_v1.0.0.png">
                </div>
            </div>

            <div id="index">
                <h1>Core Modules</h1>
                <p>
                    The set of core modules that are in this release of CEON forms a set of generic reusable ontology building blocks and include  Actor, Process, Resource, and Circular Value Network.
                    </ul>
                </p>
                <h2>Actor</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.actor}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Process</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.process}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Resource</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.resource}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>CVN</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.cvn}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Supplementary</h2>
                 <p>
                    The following modules are supplemental to the core modules as shown in Figure 1.</ul>
                </p>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.supplementary}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

          




                <h1>Use Case Ontologies</h1>
                 <p>
                   The use case ontologies reuse the core modules of CEON and focus on representing use case data about products' lifecycle operations.</ul>
                </p>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.demo}}
                        <tr>
                            <td>
                                <a href="demo/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="demo/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="demo/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="demo/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="demo/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="demo/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h1>Other Reused Ontologies</h1>
                <p>The following ontologies are not included directly in CEON, but are reused or referenced. For instance, the Building Topology Ontology (BOT) is used in the construction use case, and the QUDT ontology is referred to in the Quantity module.</p>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.other}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
                <h1>Full Imported Version</h1>
                <p>The following ontology file is the complete version of CEON, including both core and supplementary modules.</p>

                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Ontology
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Docs
                        </th>
                    </tr>
                    {{#each data.full}}
                        <tr>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">{{name}}</a>
                                (<a href="ontology/{{name}}/{{versions.0}}/{{name}}.ttl">ttl</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.rdf">rdf</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.jsonld">json-ld</a>)
                            </td>
                            <td>
                                {{versions.0}}
                            </td>
                            <td>
                                <a href="ontology/{{name}}/{{versions.0}}/index.html">html</a>,
                                <a href="ontology/{{name}}/{{versions.0}}/{{name}}.pdf">pdf</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
                
                <h1>Alignment Module</h1>
                <p>The alignment module contains preliminary results aligning CEON with relevant ontologies in the domains of circular economy (CE) and materials.</p>

                <h2>CE related ontologies</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Source Ontology
                        </th>
                        <th>
                            Target Ontology
                        </th>
                        <th>
                            Alignment
                        </th>
                    </tr>
                    {{#each alignment_data.ce}}
                        <tr>
                            <td>
                                <a href="{{source_uri}}">{{source}}</a>
                            </td>
                            <td>
                                <a href="{{target_uri}}">{{target}}</a>
                            </td>
                            <td>
                                (<a href="alignment/ce/{{name}}.rdf">rdf</a>, 
                                <a href="alignment/ce/{{name}}.ttl">ttl</a>,
                                <a href="alignment/ce/{{name}}.tsv">tsv</a>)
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Materials related ontologies</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Source Ontology
                        </th>
                        <th>
                            Target Ontology
                        </th>
                        <th>
                            Alignment
                        </th>

                    </tr>
                    {{#each alignment_data.materials}}
                        <tr>
                            <td>
                                <a href="{{source_uri}}">{{source}}</a>
                            </td>
                            <td>
                                <a href="{{target_uri}}">{{target}}</a>
                            </td>
                            <td>
                                (<a href="alignment/materials/{{name}}.rdf">rdf</a>, 
                                <a href="alignment/materials/{{name}}.ttl">ttl</a>,
                                <a href="alignment/materials/{{name}}.tsv">tsv</a>)
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <h2>General (Top) level ontologies</h2>
                <table>
                    <colgroup>
                        <col class="col-1">
                        <col class="col-2">
                        <col class="col-3">
                        <col class="col-3">
                      </colgroup>
                    <tr>
                        <th>
                            Source Ontology
                        </th>
                        <th>
                            Target Ontology
                        </th>
                        <th>
                            Alignment
                        </th>

                    </tr>
                    {{#each alignment_data.general}}
                        <tr>
                            <td>
                                <a href="{{source_uri}}">{{source}}</a>
                            </td>
                            <td>
                                <a href="{{target_uri}}">{{target}}</a>
                            </td>
                            <td>
                                (<a href="alignment/general/{{name}}.rdf">rdf</a>, 
                                <a href="alignment/general/{{name}}.ttl">ttl</a>,
                                <a href="alignment/general/{{name}}.tsv">tsv</a>)
                            </td>
                        </tr>
                    {{/each}}
                </table>


            </div>
        </main>
    </body>
</html>
